<div class="confirm-header">
  <div class="icon success">
    <i class="fa-solid fa-check fa-xl fa-fade" style="color: #0c9f14;"></i>
  </div>
  <span>Success!</span>
</div>
<div class="content">
  <p class="confirm-text">You just payed for Game</p>
<!--  <p class="confirm-text">Your Total was $<%#= @session.amount_total.to_f / 100 %></p>-->
</div>